[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BootPR"]
	path = BootPR
	url = https://github.com/cran/BootPR
[submodule "OptSig"]
	path = OptSig
	url = https://github.com/cran/OptSig
[submodule "VAR.etp"]
	path = VAR.etp
	url = https://github.com/cran/VAR.etp
[submodule "vrtest"]
	path = vrtest
	url = https://github.com/cran/vrtest
